.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-newnote {
  padding-left: 5%;
  padding-right: 5%;
  border: solid aqua 2px;
  border-radius: 5px;
  transition:background-color 200ms ease-in-out;
}

.App-newnote:hover {
  background-color: #404040;
}

.Edit {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Edit-text {
  resize: none;
  horiz-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: calc(100% - 20px);
  height: calc(100vh - 20px);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
