.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-newnote {
  padding-left: 5%;
  padding-right: 5%;
  border: solid aqua 2px;
  border-radius: 5px;
  transition:background-color 200ms ease-in-out;
}

.App-newnote:hover {
  background-color: #404040;
}

body {
    background-color: #282c34;
    min-width: 100vw;
    min-height: 100vh;
    width: max-content;
}

.Edit {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Edit-text {
  resize: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  display: block;
  width: calc(100% - 20px);
  height: calc(100% - 10px);
  font-size: 12pt;
}

.Edit-Status {
    color: white;
    margin: 0;
    padding: 0;
}

.Edit-Status-Element {
    margin: 0;
    padding: 0;
}

.App-link {
  color: #61dafb;
}
